p{
    
    
    
    font-style: italic;
    font-variant: small-caps;
    font-weight: bold;
        font-size:1,5em;
    line-height: normal;
        font-family:sans-serif;
    font: italic small-caps bold 1.5em/1.7em sans-serif;
    color: rgb(123,12,333);
    text-align: justify;
    text-transform: lowercase;
    text-decoration: underline;
}