p{

    font-style: italic;/*  Permet de modifier l'orientation de mon texte */
    font-variant: normal;/*  Affiche le texte en petites lettres capitals */
    font-weight: bold;/* Régler l'epaisseur de ma police  */
    font-size:1,5em;/* Régler la taille de ma police    */
    line-height:1,7em ;/*Régler la hauteur que va prendre chaque ligne*/
    font-family: serif;/*Régler la police utilisés monospace ,sans serif ,serif*/

}
span{

    font: italic normal bold 1,5em/1,7em serif;/*Mettre tous sur une seule ligne*/
color: hotpink;
background: khaki;
text-align: justify;
text-transform: uppercase;
text-decoration: line-through;/*Barre le texte ou le souligné avec underline*/
}  /*Affiche tous en minuscule ou en majuscule*/