a{

    color: #333;
    text-decoration: none;/*Supprimer le soulignage du texte*/

}
a:hover{

    color: lawngreen;
}
a:active{
    background: yellow;
}
a:focus{

    text-decoration: line-through;
}
a:visited{
    font-family: monospace;
    background-color: violet;
}