input, textarea{

    display: block;
    margin-bottom: 20px;
}
input[type="text"]{
    width: 500px;
    height: 30px;
    background: rgb(200,200,200);
    border:none;
        box-sizing:border-box;
}
textarea{
    min-width: 500px;
    max-width: 500px;
    min-height: auto;
    max-height: max-content;
}