h1, p {

    color: black;
}
p{

    border:1px solid black;
}
#titre{

    color: chocolate;
}
.paragraphe{

    color: yellow;
}
p a {

    color: blueviolet;
}
[type] {

    background: cadetblue;
}