p {
    padding: 20px;
    margin: 20px 10px;
}

.p1 {
    border-width: 5px;
    border-style: solid;
    border-color: #09c;
}

.p2 {
    border: 15px double grey;
}

.p3 {
    background-color: #0C9;
    border: 5px ridge #09F;
}

.p4 {
    background-color: #0C9;
    border: 5px outset #09C;
}