body {
    font-family: verdana, sans-serif;
}

h1 {
    font-weight: 400;
    /*Identique a Font weight normal*/
}

#p1 {
    font-weight: bold;
    /*Identique a Font weight 700*/
}

#p2 {
    font-weight: lighter;
}