p,
span {
    font-size: 1em
}

.p1 {
    background-color: lightblue;
    width: 400px;
    height: 100px;
}

.p2 {
    background-color: lightgreen;
    height: 150px;
}

.s1 {
    background-color: orange;
    width: 400px;
    height: 100px;
}

.s2 {
    background-color: yellow;
}