div {
    width: 80%;
    margin: 20px auto;
    background-color: #777;
}

p {
    text-align: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    line-height: 100px;
    background-color: #0CC;
}

.carre {
    width: 200px;
    height: 200px;
}

.carre p {
    line-height: 200px;
}

.bordure {
    border: 2px solid black;
}

.arrondi1 {
    border-radius: 50%;
}

.arrondi2 {
    border-radius: 25%/50%;
}