.conteneur {
    background-color: lightblue;
    color: purple;
    opacity: 0.6;
    border: 5px solid purple;
}

h1,
p,
li {
    font-size: 1.2em;
    font-weight: normal;
}

h1 {
    background-color: lightblue;
    color: purple;
    border: 5px solid purple;
}

.p1 {
    color: purple;
    opacity: 0.6;
}

.p2 {
    background-color: lightblue;
    color: purple;
    opacity: 0.6;
}